html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 1920px;
  margin: auto;
}

body {
  background-image: linear-gradient(#EFEFEF , #EDEDED);
  max-width: 1920px;
  margin: auto;
  overflow-x: hidden;
}

.App{
  opacity: 0;
}

.navigationbar{
  background-color: #f9f9f9;
  border-bottom: 1px solid #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: fixed;
  width: 100%;
  max-width: 1920px;
}

.navigationbar span{
  font-size: 18px;
  font-weight: 600;
  margin-left: 50px;

}

a{
  color: #333;
  text-decoration: none;
}

.navigationbar ul{
  list-style-type: none;
  display: flex;
  width: 100%;
  gap: 30px ;

}

.nav-links{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 50px;
}

.navigationbar li {
  float: left;
}

.navigationbar ul a{
  color: #333;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;

}

.navigationbar a{
  padding-bottom: 5px;
  border-bottom: 1px solid #00000000;
}

.mainSection{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-element{
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  background-color: white;
  padding-inline: 100px;
  align-items: center;
}

.main-title{
  font-size: 5rem;
  font-weight: 700;
  transition: all 250ms;
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.section-title{
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  transition: all 250ms;
  text-transform: uppercase;
  text-align: center;
}

.section-description{
  font-size: 25px;
  text-align: center;
  opacity: 1;
  transition: all 250ms;
  
}

.primary-button{
  padding: 15px 50px 15px 50px;
  border: none;
  background: #fff;
  color: #333;
  font-weight: 500;
  border: 1px solid #333;
  border-radius: 30px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 250ms;
}

.defaultButton{
  width: 250px !important;
}

.primary-button:hover{
  background: #dddddd;
  color: #333;
  border: 1px solid #333;
  transition: all 250ms;
}

.card{
  transition: all;
}

.div-small{
  width: 45%;

}

.card-title{
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-description{
  font-size: 20px;
  
}

.margin-small-bottom{
  margin-bottom: 20px;
}

.margin-extra-small-top{
  margin-top: 10px;
}

.margin-small-top{
  margin-top: 20px;
}

.margin-medium-top{
  margin-top: 40px;
}

.margin-large-top{
  margin-top: 60px;
}

.overflow-list{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 500px;
}

.list-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.list{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.list-aside{
  position: fixed;
  left: 0;
  margin-left: 20px;
  z-index: 1000;
}

.tag{
  padding: 5px 10px 5px 10px;
  color: white;
  background: #333;
  text-align: center;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  scale: 0;

}

.API:hover{
  background: #464646;

}

.React:hover{
  background-color: #5ed3f3;
  transition: all 250ms;
}

.React-Native:hover{
  background-color: #4cadc8;
  transition: all 250ms;
}

.Laravel:hover{
  background-color: #ff362b;
  transition: all 250ms;
}

.Blade:hover{
  background-color: #c92a21;
  transition: all 250ms;
}

.GIT:hover{
  background-color: #f05639;
  transition: all 250ms;
}

.Tailwind:hover{
  background-color: #3ebff8;
  transition: all 250ms;
}

.HTML:hover{
  background-color: #f16a30;
  transition: all 250ms;
}

.CSS:hover{
  background-color: #306af1;
  transition: all 250ms;
}

.JavaScript:hover{
  background-color: #ebcc37;
  transition: all 250ms;
}

.Java:hover{
  background-color: #ec272c;
  transition: all 250ms;
}

.PHP:hover{
  background-color: #7b7fb5;
  transition: all 250ms;
}

.Wordpress:hover{
  background-color: #28799e;
  transition: all 250ms;
}

.Bootstrap:hover{
  background-color: #7719f7;
  transition: all 250ms;
}

.Sass:hover{
  background-color: #ce6b9c;
  transition: all 250ms;
}

.row{
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 5%;
}

.icon-img-small{
  width: 36px;
  transition: all 250ms;
}

.icon-img-small:hover{
  scale: 1.1;
  transition: all 250ms;

}

.icon-img-medium{
  width: 66px;
}

.job-card{
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-card-inside-div{
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.job-card-inside-div h4{
  font-size: 18px;
}

h4{
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
}

.job-card-inside-div img{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}

.job-card-companyName{
  font-weight: 500;
}

.date{
  font-weight: 400;
  color: #646464;
}

.image-element{
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.image-small{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 40% 40%;
}

.project-card{
  border-radius: 20px;
  width: 45vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  background-color: #202020;
  padding: 20px;
  opacity: 0;
}

.project-title{
  font-size: 20px;
}

.description{
  color: #333;
  line-height: 1.7;
  margin-bottom: 1rem;
}

.reverse {
  filter: brightness(0) invert(1);
}

.width-half{
  width: 45%;
}

.width-large{
  width: 70%;
}

.width-full{
  width: 100%;
}

#projects:hover + .icon-img-small { 
  filter: brightness(0) invert(1);
} 

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.box-secundary{
  padding: 10px;
  background: #f9f9f9;
  color: #333;
  border-radius: 15px;
}

input, textarea {
  border: 1px solid transparent;
  outline: none;
  background-color: #f1f1f1;;
  color: #333;
  border-radius: 5px;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
}

input:focus, textarea:focus{
  border: 1px solid rgb(68, 111, 192);
}

textarea{
  resize: none;
  height: 100px !important;
}

.flex-small{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

label{
  font-weight: 600;
}

form button{
  padding: 5px;
  background-color: #333;
  border: none;
  color: white;
  border-radius: 15px;
  width: 35%;
  height: 30px;
  cursor: pointer;
}

.notification{
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgb(15, 144, 15);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  transform: translate(100%);
}