html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(#EFEFEF , #EDEDED);
  max-width: 1920px;
  margin: auto;
  overflow-x: hidden;
}

.App{
  opacity: 0;
}

.navigationbar{
  background-color: #f9f9f9;
  border-bottom: 1px solid #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: fixed;
  width: 100%;
  max-width: 1920px;
}

.navigationbar span{
  font-size: 18px;
  font-weight: 600;
  margin-left: 50px;

}

a{
  color: #333;
  text-decoration: none;
}

.navigationbar ul{
  list-style-type: none;
  display: flex;
  width: 100%;
  gap: 30px ;

}

.nav-links{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 50px;
}

.navigationbar li {
  float: left;
}

.navigationbar ul a{
  color: #333;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;

}

.mainSection{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-element{
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  background-color: white;
  padding-inline: 100px;
  align-items: center;
}

.main-title{
  font-size: 5rem;
  font-weight: 700;
  transition: all 250ms;
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.section-title{
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  transition: all 250ms;
  text-transform: uppercase;
  text-align: center;
}

.section-description{
  font-size: 25px;
  text-align: center;
  opacity: 1;
  transition: all 250ms;
  
}

.text-default{
  width: 500px;
  text-align: justify;
  transform: translate(-120%);
  transition: all 250ms;
}

.primary-button{
  padding: 15px 50px 15px 50px;
  border: none;
  background: #fff;
  color: #333;
  font-weight: 500;
  border: 1px solid #333;
  border-radius: 30px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 250ms;
}

.defaultButton{
  width: 250px !important;
}

.primary-button:hover{
  background: #dddddd;
  color: #333;
  border: 1px solid #333;
  transition: all 250ms;
}

.card{
  transition: all;
}

.div-small{
  width: 45%;

}

.card-title{
  font-size: 25px;
}

.card-description{
  font-size: 20px;
  
}

.margin-small-bottom{
  margin-bottom: 20px;
}

.margin-extra-small-top{
  margin-top: 10px;
}

.margin-small-top{
  margin-top: 20px;
}

.margin-medium-top{
  margin-top: 40px;
}

.margin-large-top{
  margin-top: 60px;
}

.overflow-list{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 500px;
}

.list-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.list{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.list-aside{
  position: fixed;
  left: 0;
  margin-left: 20px;
  z-index: 1000;
}

.tag{
  padding: 5px 10px 5px 10px;
  color: #333;
  background: #dddddd;
  text-align: center;
  border-radius: 5px;
  font-weight: 600;
}

.row{
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 5%;
}

.icon-img-small{
  width: 36px;
}

.icon-img-medium{
  width: 66px;
}

.job-card{
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-card-inside-div{
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.job-card-inside-div h4{
  font-size: 18px;
}

h4{
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
}

.job-card-inside-div img{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}

.job-card-companyName{
  font-weight: 500;
}

.date{
  font-weight: 400;
  color: #646464;
}

.image-element{
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.image-small{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 40% 40%;
}

.project-card{
  border-radius: 20px;
  width: 45vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  background-color: #202020;
  padding: 20px;
  opacity: 0;
}

.project-title{
  font-size: 20px;
}

.description{
  color: #333;
  line-height: 1.7;
  margin-bottom: 1rem;
}

.reverse {
  filter: brightness(0) invert(1);
}

.width-half{
  width: 45%;
}

#projects:hover + .icon-img-small { 
  filter: brightness(0) invert(1);
} 